
<%= form_for [@project, @build] do |f| %>
  <% if @build.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@build.errors.count, "error") %> prohibited
      this build from being annotate:</h2>
    <ul>
    <% @build.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment, :size => "100x10" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>



