<strong>List of changes between build ID:<%= @build.id %> and build ID:<%= @ancestor.id %></strong> |  <%= link_to 'Back To Project', project_path(@project) %>

<pre>
  <strong>Project ID:</strong> <%= @project.id %>
  <strong>Build ID:</strong> <%= @build.id %>
  <strong>State:</strong> <%= @build.state %>
</pre>

<table collspan=7 cellpadding=7>
  <tr>
    <th>Distribution Difference</th>
    <th>Configuration Difference</th>
  </tr>
  <tr>
    <td valign=top>
<pre>
<%- i = 0 %>
<% @pinto_diff.each do |l| %>
  <%= l  %>
<% end %>
</pre>
   </td>
    <td valign=top>
  <%= raw(@snapshot_diff) %>
   </td>
 </tr>   
</table>

[

 <%= link_to 'Back To Project', project_path(@project) %>

]


