<strong>List of changes between build ID:<%= @build.id %> and build ID:<%= @precendent.id %></strong> |  <%= link_to 'Back To Project', project_path(@project) %>

<pre>
  <strong>Project ID:</strong> <%= @project.id %>
  <strong>Build ID:</strong> <%= @build.id %>
  <strong>State:</strong> <%= @build.state %>
</pre>

<table class="table">
  <tr>
    <th>Distribution Difference</th>
    <th>Change Log / Source Changes</th>
    <th>Choose other builds</th>
  </tr>
  <tr>
    <td valign=top>
<pre>
<% @pinto_diff.each do |l| %>
  <%= l  %>
<% end %>
</pre>
   </td>
    <td valign=top>
  <%= raw(@snapshot_diff) %>
  <table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Commiter</th>
    <th>Action</th>
  </tr>
  <% @history.each do |l| %>
  <tr>
    <td>
        <%= l[:created_at]  %>
    </td>
    <td>
        <%= l[:commiter].nil? ? 'anonimous' : Resolv.new.getname(l[:commiter])  %>
    </td>
    <td>
        <%= l[:action] %>
    </td>
  </tr>  
  <% end %>
  </table>
   </td>
    <td>
        <%= form_for([@project, @build], url: { action: "changes" }, method: :get  ) do |f| %>
             <%= f.select :id, options_for_select(@project.builds.reverse.map {|b| b.id}) %>
             <%= f.submit "Compare" %> 
       <% end %>
    </td>
 </tr>
</table>

[

 <%= link_to 'Back To Project', project_path(@project) %>

]


