<strong>Build Log </strong> |
    <%= link_to 'Back To Project', project_path(@project) %>
<pre>
  <strong>Project Title:</strong> <%= @project.title %>
  <strong>Project ID:</strong> <%= @project.id %>
  <strong>Build ID:</strong> <%= @build.id %>
  <strong>State:</strong> <%= @build.state %>
</pre>

<% if ! @build.comment.nil?  %>
  <strong>Annotation:</strong> 
<pre>
<%= @build.comment %>
</pre>
<% end %>

  <strong>Build Configuration</strong> |
    <%= link_to 'Full Log', full_log_project_build_path(@project,@build), :title => 'full log' %> |
    <%= link_to 'Distributions List', list_project_build_path(@project,@build), :title => 'list of disribution archives' %> |
    <%= link_to 'Changes', changes_project_build_path(@project,@build), :title => 'changes for this build' %> |
    <%= link_to 'Rebuild', rebuild_project_build_path(@project,@build), :method => :post, :title => 'rebuild this build' %>

    <table class="table-bordered table-striped table">
      <tr>
        <th>URL</th>
        <th>Is Application?</th>
      </tr>
    <% @data.each do |item| %>
    <tr>
        <td><%= item[:indexed_url] %></td>
        <td><%= item[:is_distribution_url]? 'yes' : 'no'  %></td>
    </tr>
    <% end %>
    </table>
[ 

 <%= link_to 'Back To Project', project_path(@project) %> 

]

