<h2>Build Log ID: <%= @build.id %> for Project <%= link_to "ID: #{@project.id}", project_path(@project) %></h2>

<pre>
  <strong>Number:</strong> <%= @build.id %>
  <strong>State:</strong> <%= @build.state %>
</pre>

<%- if @build.has_logs? %>
  <strong>Logs.</strong> 
    <pre>
    <% @log_entries.each do |l| %>
        [<%= l.level %>] at <%= l.updated_at %> <%= l.chunk  %>
    <% end %>
    </pre>
<%- end %>

[ 

 <%= link_to 'Back To Project', project_path(@project) %> 

]

