<h2>Build Log ID: <%= @build.id %> for Project <%= link_to "ID: #{@project.id}", project_path(@project) %></h2>

<pre>
  <strong>Number:</strong> <%= @build.id %>
  <strong>State:</strong> <%= @build.state %>
</pre>

<%- unless @build.log.nil? %>
  <strong>Log:</strong>
    <pre>
    <%= @build.log %>
    </pre>
<%- end %>

[ 

 <%= link_to 'Back To Project', project_path(@project) %> 

]

