<%= link_to 'Back To Project', project_path(@project) %> | <%= link_to 'Run New Build', url_for([@project, :builds]), method: :post  %>
<h2>Update Project Settings </h2>

<pre>
    ID : <%= @project[:id] %>
</pre>

<%= render 'form' %>

<h2>Add a source</h2>
<%= form_for([@project, @project.sources.build]) do |f| %>
  <p>
    <%= f.label :scm_type %>
    <%= f.select :scm_type, options_for_select(%w[svn git]) %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
