<hr>

<h1>Projects List</h1>
 
<table cellpadding="2" cellspacing="2" border="0">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Last Build</th>
    <th>Artefacts</th>
    <th>Actions</th>
  </tr>
 
  <% i = 0 %>
  <% @projects.each do |item| %>
    <% i+=1; if i.even? %>    
        <% color = 'lightgreen' %>
    <% else %>
        <% color = 'lightgray' %>
    <% end %>
    <tr bgcolor="<%= color %>">
      <td><%= item.title %></td>
      <td><%= item.text %></td>
      <td>
        <% if ! item.last_build.nil? %>
            <%= link_to "ID: #{item.last_build.id}", [item, item.last_build] %> - <%= item.last_build[:state] %> at <%= item.last_build[:updated_at] %>
        <% else %>
            ---
        <% end %>
      </td>
      <td>
        <% if ! item.last_build.nil? and ! item.last_build.distribution_name.nil? %>
             <%= link_to "#{item.last_build.distribution_name}", url_for([item,item.last_build]) + '/artefacts/' + item.last_build.distribution_name  %>
        <% else %>
            ---
        <% end %>
      </td>

      <td><%= link_to 'Show', project_path(item) %> |
        <%= link_to 'Edit', edit_project_path(item) %> |
        <%= link_to 'Build', [item, item.builds.build], method: :post %> | 
        <%= link_to 'Delete', project_path(item), method: :delete, data: { confirm:    "You are about to delete project # #{item[:id]}. Are you shure ?" }  %>
      </td>
    </tr>
  <% end %>
</table>

<hr>

