<pre>
  <strong>Title:</strong> <%= @project.title %>
  <strong>Description:</strong> <%= @project.text %>
        <% if @project.has_distribution_source? == true %>
  <strong>Distribution Source:</strong> <%= @project.distribution_url %>
        <% else %>
  <strong>Distribution Source:</strong> not set
        <% end %>
</pre>

<%- unless @project.sources_ordered.empty? %>
<pre>
  <strong>Sources:</strong>
<% @project.sources_ordered.each do |item| %>
    <%= link_to item.url , item.url, title: "SCM TYPE: #{item.scm_type}" %> | rev: <%= item[:last_rev] %>
<% end %>
</pre>
<%- end %>

[ 

 <%= link_to 'Edit Project', edit_project_path(@project) %> | 
 <%= link_to 'Run New Build', url_for([@project, :builds]), method: :post  %> |
 <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm:    "You are about to delete project # #{@project[:id]}. Are you shure ?" }  %> |
 <%= link_to 'Copy Project', copy_project_path(@project), :method => :post, :title => 'create a new project copied from this one'  %> |
<%- if @project.has_last_successfull_build? == true %>
 <%= link_to 'Last Successfull Build', project_path(@project) + '/last_successfull_build'  %>
<% end %>

]


<%- unless @project.builds.empty? %>
<% i = 0 %>
<br><br><br>
<pre>
  <strong>Builds History.</strong>
</pre>

    <table class="table table-bordered">
      <tr>
        <th>NN</th>
        <th>Log</th>
        <th>Status</th>
        <th>Updated</th>
        <th>Artefacts</th>
        <th>Locked?</th>
        <th>Released?</th>
        <th>Annotation</th>
        <th>Actions</th>
      </tr>
    <% @project.builds.reverse.each do |item| %>
        <% if item[:state] == 'succeeded'  %>
        <% tr_class = 'success' %>
        <% elsif item[:state] == 'failed' %>
        <% tr_class = 'error' %>
        <% else %>
        <% tr_class = 'info' %>
        <% end %>

        <tr>
            <% i+=1 %>
            <td>
                <%= i %>
            </td>
            <td>
                <%= link_to "ID: #{item.id}", [@project, item] %>
            </td>
            <td>
                <%= item[:state] %>
            </td>
            <td>
                <%= item[:updated_at] %>
            </td>
            <td>
            <% if item.distribution_name.nil? == false %>
                <%= link_to "#{item.distribution_name}", url_for([@project,item]) + '/artefacts/' + item.distribution_name  %>
            <% else %>
                ---
            <% end %>
            </td>
            <td>
                <% if item.locked?  %>
                    yes 
                <% else %>
                    no
                <% end %>
            </td>
            <td>
                <% if item.released?  %>
                    yes 
                <% else %>
                    no
                <% end %>
            </td>
            <td>
                <% if ! item.comment.nil?  %>
                    <i><%= item.short_comment %></i>
                <% else %>
                    ---
                <% end %>
            </td>
            <td>
                <% unless item.released?  %>
                    <%= link_to "delete", [@project, item], :method => :delete %> |
                <% end %>
                <% if item.locked? and ! item.released? %>
                    <%= link_to "unlock", [:unlock, @project, item ], :method => :post , :title => 'keep this build forever' %> |
                <% elsif ! item.released?  %>
                    <%= link_to "lock", [:lock, @project, item], :method => :post , :title => 'keep this build forever'  %>  |
                <% end %>
                <% unless item.released?  %>
                    <%= link_to "release", [ :release, @project, item ], :method => :post , :title => 'mark this build as released' %> |
                <% end %> 
                <%= link_to "annotate", edit_project_build_path(@project, item)  %> |
                <%= link_to "log", [@project, item]  %> |
                <%= link_to "changes", changes_project_build_path(@project, item)  %>
            </td>
            </tr>
    <% end %>
<% end %>

