<pre>
  <strong>Title:</strong> <%= @project.title %>
  <strong>Description:</strong> <%= @project.text %>
        <% if @project.has_distribution_source? == true %>
  <strong>Application Main Component:</strong> <%= @project.distribution_indexed_url %>
        <% else %>
  <strong>Application Source:</strong> not set
        <% end %>
</pre>

<%- if @project.last_build and  @project.last_build.has_components? %>
<pre>
  <strong>Components:</strong>
<% @project.last_build.components.each do |item| %>
    <%= link_to item.indexed_url , item.url, title: "SCM TYPE: #{item.scm_type} ID:#{item.id}" %> | rev: <%= item[:revision] %>
<% end %>
</pre>
<%- end %>

[ 

 <%= link_to 'Edit Project', edit_project_path(@project) %> | 
 <%= link_to 'Run New Build', url_for([@project, :builds]), method: :post  %> |
 <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm:    "You are about to delete project # #{@project[:id]}. Are you shure ?" }  %>
<%- if @project.has_last_successfull_build? == true %>
 | <%= link_to 'Last Successfull Build', project_path(@project) + '/last_successfull_build'  %>
<% end %>
 | <%= link_to 'Activity Log', activity_project_path(@project), :title => "show project's activity"  %>

]


<%- unless @project.builds.empty? %>
<% i = 0 %>
<br><br><br>
<pre>
  <strong>Builds History.</strong>
</pre>

    <table class="table-bordered table-striped table">
      <tr>
        <th>NN</th>
        <th>Log</th>
        <th>Status</th>
        <th>Parent Build</th>
        <th>Updated</th>
        <th>Artefacts</th>
        <th>Locked?</th>
        <th>Released?</th>
        <th>Annotation</th>
        <th>Actions</th>
      </tr>
    <% @project.builds.reverse.each do |item| %>
        <% if item[:state] == 'succeeded'  %>
        <% tr_class = 'success' %>
        <% elsif item[:state] == 'failed' %>
        <% tr_class = 'error' %>
        <% else %>
        <% tr_class = 'info' %>
        <% end %>

        <tr>
            <% i+=1 %>
            <td>
                <%= i %>
            </td>
            <td>
                <%= link_to "ID: #{item.id}", [@project, item] %>
            </td>
            <td>
                <%= item[:state] %>
            </td>
            <td>
                <%= item[:parent_id] || '---' %>
            </td>
            <td>
                <%= item[:updated_at].strftime('%B %d, %Y at %H:%M') %>
            </td>
            <td>
            <% if item.distribution_name.nil? == false %>
                <%= link_to "#{item.distribution_name}", url_for([@project,item]) + '/artefacts/' + item.distribution_name  %>
            <% else %>
                ---
            <% end %>
            </td>
            <td>
                <% if item.locked?  %>
                    <b><font color='black'>yes</font></b>
                <% else %>
                    no
                <% end %>
            </td>
            <td>
                <% if item.released?  %>
                    <b><font color='green'>yes</font></b>
                <% else %>
                    no
                <% end %>
            </td>
            <td>
                <% if ! item.comment.nil?  %>
                    <i><%= item.short_comment %></i>
                <% else %>
                    ---
                <% end %>
            </td>
            <td>
                <%= link_to "view log", full_log_project_build_path(@project,item) , :title => 'show build log' %> |
                <% unless item.released?  %>
                    <%= link_to "delete", [@project, item], :method => :delete, :title => 'permanently delete this build' %> |
                <% end %>
                <% if item.locked? and ! item.released? %>
                    <%= link_to "unlock", [:unlock, @project, item ], :method => :post , :title => 'keep this build forever' %> |
                <% elsif ! item.released?  %>
                    <%= link_to "lock", [:lock, @project, item], :method => :post , :title => 'keep this build forever'  %>  |
                <% end %>
                <% unless item.released?  %>
                    <%= link_to "release", [ :release, @project, item ], :method => :post , :title => 'mark this build as released' %> |
                <% end %> 
                <%= link_to "annotate", edit_project_build_path(@project, item), :title => 'add description for this build'  %> |
                <%= link_to "configuration", configuration_project_build_path(@project, item), :title => 'show build configuration'  %> |
                <%= link_to 'distributions list', list_project_build_path(@project, item), :title => 'list of distribution archives' %> |
                <%= link_to "changes", changes_project_build_path(@project, item),  :title => 'last changes applied to build' %> |
                <%= link_to 'revert', revert_project_build_path(@project,item), :method => :post, :title => 'revert project to this build' %>
            </td>
            </tr>
    <% end %>
<% end %>

