<pre>
  <strong>Title:</strong> <%= @project.title %>
  <strong>Description:</strong> <%= @project.text %>
        <% if @project.has_distribution_source? == true %>
  <strong>Distribution Source:</strong> <%= @project.distribution_url %>
        <% else %>
  <strong>Distribution Source:</strong> not set
        <% end %>
</pre>

<%- unless @project.sources_ordered.empty? %>
<pre>
  <strong>Sources:</strong>
<% @project.sources_ordered.each do |item| %>
    <%= link_to item.url , item.url, title: "SCM TYPE: #{item.scm_type}" %> | rev: <%= item[:last_rev] %>
<% end %>
</pre>
<%- end %>

[ 

 <%= link_to 'Edit Project', edit_project_path(@project) %> | 
 <%= link_to 'Run New Build', url_for([@project, :builds]), method: :post  %> |
 <%= link_to 'Delete Project', project_path(@project), method: :delete, data: { confirm:    "You are about to delete project # #{@project[:id]}. Are you shure ?" }  %>

]


<%- unless @project.builds.empty? %>
<% i = 0 %>
<br><br><br>
<pre>
  <strong>Builds History:</strong>
</pre>

    <table collspan=4 cellpadding=4>
      <tr>
        <th>NN</th>
        <th>Log</th>
        <th>Status</th>
        <th>Time</th>
        <th>Artefacts</th>
        <th>Actions</th>
      </tr>
    <% @project.builds.reverse.each do |item| %>
        <tr>
            <% i+=1 %>
            <td>
                <%= i %>
            </td>
            <td>
                <%= link_to "ID: #{item.id}", [@project, item] %>
            </td>
            <td>
                <%= item[:state] %> at <%= item[:updated_at] %>
            </td>
            <td>
                <%= item[:updated_at] %>
            </td>
            <td>
            <% if item.distribution_name.nil? == false %>
                <%= link_to "#{item.distribution_name}", url_for([@project,item]) + '/artefacts/' + item.distribution_name  %>
            <% else %>
                ---
            <% end %>
            </td>
            <td>
                <%= link_to "delete", [@project, item], :method => :delete %> 
            </td>
            </tr>
    <% end %>
<% end %>

