<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<p>
<strong>Sources:</strong>
<ol>
<% @project.sources.each do |item| %>
  <li>
    <%= link_to item.url , item.url %> ( <%= item.scm_type %> )
  </li>  
<% end %>
</ol>
</p>

<%= link_to 'Project List', projects_path %>
<%= link_to 'Edit', edit_project_path(@project) %>

