
<%= form_for @settings, url: settings_path(@settings) do |f| %>
  <% if @settings.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@settings.errors.count, "error") %> prohibited
      this settings from being saved:</h2>
    <ul>
    <% @settings.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :perl5lib %><br>
    <%= f.text_field :perl5lib, :size => "100" %>
  </p>
  <p>
    <%= f.label :skip_missing_prerequisites %><br>
    <%= f.text_field :skip_missing_prerequisites, :size => "100" %>
  </p>
  <p>
    <%= f.label :pinto_downsteram_repositories %><br>
    <%= f.text_field :pinto_downsteram_repositories, :size => "100" %>
  </p>
  <p>
     <%= f.check_box :force_mode, { :value => true , :checked => @settings[:force_mode] } %>
     <%= f.label(:force_mode, "forcefully reinstall sources, even no changes in SCM found") %>
  </p>
  <p>
    <%= f.label :jabber_host %><br>
    <%= f.text_field :jabber_host, :size => "50" %>
  </p>
  <p>
    <%= f.label :jabber_login %><br>
    <%= f.text_field :jabber_login, :size => "50" %>
  </p>
  <p>
    <%= f.label :jabber_password %><br>
    <%= f.password_field :jabber_password, :size => "50" %>
  </p>
    <%= f.submit %>

<% end %>



